<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>HTML5 Page</title>
</head>

<body>
    <h1>Login to my website</h1>
    <!-- lähetä nämä tiedot tälle sivustolle, joka osaltaan display nimen -->
    <form action="/login" method="post">
        <label for="username">Username:</label><br>
        <input type="text" name="username" placeholder="name">
        <br><br>
        <label for="password">Password:</label><br>
        <input type="password" name="password" placeholder="password"><br><br>
        <input type="submit" value="Login">
    </form>

</body>

</html>