<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>HTML5 Page</title>
</head>

<body>
    <h1>Customer Database</h1>
    <h2>Give Input</h2>
    <form action="/" method="post">
        <label for="first_name">First Name</label><br>
        <input type="text" name="first_name" placeholder="Felix">
        <br><br>
        <label for="last_name">Last Name</label><br>
        <input type="text" name="last_name" placeholder="Navida"><br><br>
        <input type="submit" value="Send">
    </form>
</body>

</html>